################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BitsionPrueba/bin
/BitsionPrueba/obj/Debug
/BitsionPrueba/packages
/LayerBus/bin/Debug
/LayerBus/obj/Debug
/LayerDataAccess/bin/Debug
/LayerDataAccess/obj/Debug
/LayerModel/bin/Debug
/LayerModel/obj/Debug
